<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        管理员管理
      </nb-card-header>
      <nb-card-body style="height: 320px">
        <user-list></user-list>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-7">
    <nb-card>
      <nb-card-header>
        角色管理
      </nb-card-header>
      <nb-card-body style="height: 320px">
        <ngx-role-list></ngx-role-list>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-5">
    <nb-card>
      <nb-card-header>
        <div class="tree-info">菜单管理</div>
      </nb-card-header>
      <nb-card-body style="height: 320px">
        <ngx-menu-tree></ngx-menu-tree>
      </nb-card-body>
    </nb-card>
  </div>
</div>

