<p-panel>
  <p-header fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <button pButton type="button" label="Table" icon="fa fa-table" routerLink="./table"></button>
    <button pButton type="button" label="normal-dialog" icon="fa fa-newspaper-o" routerLink="./dialog"></button>
    <button pButton type="button" label="crud-table-dialog" icon="fa fa-newspaper-o" routerLink="./crud"></button>
    <button pButton type="button" label="crud-table-dialog" icon="fa fa-newspaper-o" routerLink="./crudDemo"></button>
  </p-header>
  <router-outlet></router-outlet>
  <p-footer>
    Footer content here
  </p-footer>
</p-panel>
