<material-dialog [title]="data.dlg_title">
  <dialog-content>
    <form #form="ngForm">
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px">
        <mat-form-field>
          <input matInput placeholder="电子邮件" [disabled]="true" name="email" [(ngModel)]="doc.email" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="姓名" name="name" [disabled]="true" [(ngModel)]="doc.name" />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px">
        <mat-form-field>
          <input matInput type="password" placeholder="登陆密码"
                 name="password" [(ngModel)]="doc.password" tabindex="1" required minlength="6" #password />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="再次输入登陆密码"
                 name="newPassword" [(ngModel)]="doc.newPassword" tabindex="2" required minlength="6" #newPassword />
        </mat-form-field>
      </div>
    </form>
  </dialog-content>
  <dialog-button>
    <button mat-raised-button color="primary" tabindex="3"
            (click)="onSubmit()" [disabled]="!form.valid || password.value!=newPassword.value">Save</button>
    <button mat-button mat-dialog-close  tabindex="4">Cancel</button>
  </dialog-button>
</material-dialog>

