<div class="widgets">
  <div class="row">
    <div class="col-md-12">
	    <select  name="fileKey" [(ngModel)]="selectedFileKey">
	      <option value=''>Please Select Log Type</option>
	      <option *ngFor="let file of files" [value]="file.fileKey">
         {{ file.desc }}
        </option>
	    </select>
      <button class="btn btn-primary" (click)="doloadFile()">View</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ba-card title="LogFileContent" baCardClass="with-scroll">
        <textarea class="full-width" rows="20" id="fileContent" name="fileContent">{{fileContent}}</textarea>
      </ba-card>
    </div>
  </div>
</div>
